:root {
  --color: white;
  --background-color: black;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  background-color: var(--background-color);
  height: 100vh;
  width: 100vw;
}

h1 {
  font-family: Georgia, serif;
  font-size: 3rem;
  font-style: italic;
  font-weight: 200;
  text-shadow: -1px -1px 0px #BBB;
  letter-spacing: -0.27rem;
  text-align: center;
  color: var(--color);
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
}

h2 {
  font-size: 1rem;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
  color: var(--color);
}

p {
  font-size: 1.25rem;
  text-align: center;
  color: var(--color);
}

a {
  color: white;
}

a:visited {
  color: #ccc;
}

.logo {
  font-family: "Georgia, serif";
  text-align: center;
  color: var(--color);
  font-size: 1.5rem;
  animation: LogoSpin infinite 5s linear;
}

.instruction {
  font-size: 1rem;
  margin-inline: 0.5rem;
}

.project-path {
  font-family: monospace;
  overflow-wrap: break-word;
}

.launch-editor {
  border: solid 1px var(--color);
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--color);
  font-size: 1.5rem;
  width: calc(100% - 1rem);
  padding-block: 0.5rem;
  margin-block-start: 1rem;
  margin-inline: 0.5rem;
  cursor: pointer;
}

@keyframes LogoSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}